main img{
    animation: animate 3s linear infinite;
}
@keyframes animate{
    
    50% {
        transform: translate(-0px,-71px);
    }
    /* 100% {
        transform: translate(-0px,-1px);
    } */
    
}

.hover-3 {
    --b: 0.1em;   /* the thickness of the line */
    --c: #fd0404; /* the color */
    
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .hover-3:hover {
    --_p: 100%;
    --_s: .3s;
  }


#Delivery{
    background-color: rgba(226, 221, 221, 0.089);
}
#Contact{
    background-color: rgb(226, 221, 221);
}
@media only screen and (min-width: 1281px) {
    #home button{
        margin-right: 410px;
    }
}

